<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Explore the available types of community service projects:</p>
    
    <ul>
        <% if (typeof categories !== 'undefined' && categories.length > 0) { %>
            <% categories.forEach(category => { %>
                <li>
                    <a href="/category/<%= category.category_id %>"><strong><%= category.name %></strong></a>
                </li>
            <% }) %>
        <% } else { %>
            <p>No categories found.</p>
        <% } %>
    </ul>
</main>
<%- include('partials/footer') %>